@define-color bg #1a2238;
@define-color fg #afb6c5;
@define-color gray1 #5f99a4;
@define-color gray2 #80889c;
@define-color gray3 #d4be68;
@define-color gray4 #e4d294;
@define-color gray5 #9586cf;
@define-color fg_bright #dde2eb;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
